.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
}

h1 {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-bottom: 2px solid red;
  margin-bottom: 2rem;
}

input {
  padding: 7px;
  text-align: center;
}

/* .res-container {
  display: flex;
  flex-direction: column;
} */

.btn {
  padding: 5px 15px;
  border-radius: 5px;
  background: rgb(0, 120, 248);
  color: white;
  font-size: large;
  font-family: cursive;
  text-transform: uppercase;
}

.btn:hover {
  background: red;
  transition: all 0.5s;
}
